body {
    background-color: #b5b6e4;
}

/* nav {
    background-color: #b5b6e4;
    text-shadow: 0.1rem 0.1rem white;
    text-align: center;
    font-size: 1.8rem;
} */

.nav-links {
    background-color: #b5b6e4;
    text-shadow: 0.1rem 0.1rem #e8e9f6;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

.title {
    background-color: #b5b6e4;
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
    text-shadow: 0.2rem 0.2rem 0.1rem #e8e9f6;
    letter-spacing: 0.3rem;
    font-size: 5.5rem;
    margin: 0 auto;
    color: #4f43ae
}

.home-header {
    /* margin: 0 auto; */
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}

.about-site {
    text-align: center;
    font-size: 1.8rem;
}

.about-us-header {
    /* margin: 0 auto; */
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h2 {
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

h3 {
    margin: 0 auto;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0 auto;
}

.prod-desc {
    margin: 0.8rem 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.count {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #cec9cc;
}

.price {
    margin: 0 auto;
    color: #e4000f;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.about-desc {
    text-align: left;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}


.product-card {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 32%;
    width: 32%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #FFFCFF;
}

.product-title {
    background-color: white;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;

}

.review-card-main {
    width: 32%;
    height: 32%
}

.card-main {
    margin: 2rem 4rem;
    color: #FFFCFF;
    text-align: center;
    align-content: center;
}

.main-search {
    background-color: white;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.active {
    display: none;
}

.admin {
    display: none;
}